[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=1.6"
coloredlogs = "~=15.0"
uvloop = {version = "~=0.15", markers = "platform_system != 'Windows'"}

[dev-packages]
flake8 = "~=3.9"
flake8-annotations = "~=2.6"
flake8-bugbear = "~=21.4"
flake8-builtins = "~=1.5"
flake8-docstrings = "~=1.6"
flake8-import-order = "~=0.18"
flake8-tidy-imports = "~=4.3"
pep8-naming = "~=0.11"
isort = "~=5.8"
pre-commit = "~=2.12"
black = "~=21.5b2"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
start = "python -m griffinbot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
format = "black .; isort ."
